@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<table id="products" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <th>@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="Details" asp-controller="home" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    <a asp-action="DeleteProduct" asp-controller="home" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $("#products").DataTable();
    });
    </script>
}